.see{
    width: 30%;
    height: 500px;
	margin: auto;
	border:5px solid rgb(12, 247, 215);
	border-collapse: collapse;
	text-align: center;
	font-size: 15px;
	background:rgb(77, 4, 40);
	opacity:0.5;
	color:white;
    margin-top: 10px;
    padding: 10px;
    opacity: 0.9;
    margin-left: 35%;

}